:root {
  --primary-color: #4797ff;
  --text-color: #202020;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #ff4988, #ffc781, #fffefc);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.signup {
  width: 100%;
  max-width: 70rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 5.5rem 3.5rem;
  position: relative;
}

.home {
  position: absolute;
  font-size: 1.6rem;
  right: 35px;
  bottom: 28px;
  text-decoration: underline;
  color: var(--primary-color);
}

.signup__heading {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--text-color);
}
.signup__already {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
}

.signup__link {
  color: var(--primary-color);
  font-size: inherit;
}

.signup__link--underline {
  text-decoration: underline;
}

.form__group {
  margin-bottom: 1.5rem;
}

.form__input {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  padding: 1.5rem;
  border-radius: 1rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #eee;
  background-color: #eee;
  transition: 0.25s linear;
  width: 100%;
}

.form1 {
  position: relative;
}

.eye1 {
  position: absolute;
  left: 46%;
  top: 37%;
  font-size: 1.5rem;
  color: #aaa;
}

.uncen1 {
  position: absolute;
  left: 46%;
  top: 37%;
  font-size: 1.5rem;
  color: #aaa;
}

.form2 {
  position: relative;
}

.eye2 {
  position: absolute;
  right: 7%;
  font-size: 1.5rem;
  top: 37%;
  color: #aaa;
}

.error_pass {
  display: none;
  position: absolute;
  position: absolute;
  top: 42%;
  right: 7%;
  color: #f00;
}

.eye1:hover i,
.eye2:hover i {
  cursor: pointer;
}

.form__input:focus {
  border-color: #00f;
  background-color: #fff;
}

.form__input::placeholder {
  color: #999;
  font-style: italic;
}

.form__group--2 {
  display: flex;
  justify-content: space-between;
}

.form__group--2 > .form__input {
  width: calc(50% - 2px);
}

.form1{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form2{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form__submit {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
  border: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-align: center;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__submit-text {
  margin: 0 auto;
}
.form__tos {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #999;
}

.form__tos input {
  margin-right: 4px;
}

.form__tos-checkbox {
  width: 13px;
  height: 13px;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  transition: 0.2s ease-in;
}

.form__tos-checkbox::after {
  position: absolute;
  top: -1px;
  left: 2px;
  content: '';
  width: 6px;
  height: 10px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(37deg);
}

.form__tos-checkbox:checked {
  background-color: var(--primary-color);
}

.form__tos-checkbox:checked::after {
  border-color: #fff;
}
